body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

header {
  margin: 0;
  max-width: 100%;
  padding: 10px;
  background: rgb(49, 49, 49);
  box-shadow: 0 0 15px #000;
}

.header-grid {
  max-width: 100%;
  width: 1200px;
  margin: auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
}

.red {
  color: #e10205;
}

.logo-sm {
  width: 200px;
  border-radius: 10px;
}

.logo-sm-white {
  width: 100px;
}

article h3 {
  margin: 5px 0;
}

.top-links {
  align-self: center;
  justify-self: end;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
}

.top-links a {
  /* background: #e10205; */
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  justify-self: end;
  font-size: 1.2em;
  /* padding: 5px; */
  /* border-radius: 5px; */
  /* width: 185px; */
  /* text-align: center; */
}

h1,
h2 {
  text-align: center;
}

h1 {
  margin: 20px 0;
}

p {
  margin: 5px 0;
}

.car a {
  background: #e10205;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  display: block;
  text-align: center;
  text-decoration: none;
  width: 90px;
}

main {
  max-width: 1000px;
  margin: auto;
  padding: 10px;
}

.logo-lg {
  display: block;
  margin: 10px auto 30px;
}

.available-cars {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
  margin-top: 30px;
}

ul {
  padding-inline-start: 0;
}

.carousel {
  display: none;
}

.carousel-slider {
  display: block;
}

.carousel .slide {
  background: #fff !important;
}

.car {
  box-shadow: 0 0 10px #ccc;
  padding: 10px;
  border-radius: 10px;
  transition: .5s;
  max-width: 100%;
}

.car-model {
  text-align: center;
  font-size: 2em;
  margin-bottom: 10px;
}

.green-text {
  color: rgb(12, 177, 12);
  font-size: 1.5em;
}

.car:hover {
  box-shadow: 0 10px 20px #ccc;
}

/* @media screen and (max-width: 1020px) {
  .available-cars {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 20px;
  }
} */

.sold-wrapper {
  position: relative;
  overflow: hidden;
}

.car-sold {
  font-size: 50px;
  font-weight: 700;
  background-color: red;
  position: absolute;
  top: 40%;
  left: -20%;
  transform: rotate(-20deg);
  padding: .5% 10%;
  color: #fff;
  width:120%;
  text-align: center;
box-shadow: 0 0 15px #000;
}



@media screen and (max-width: 650px) {
  .available-cars {
    grid-template-columns: 1fr;
    padding: 0;
  }

  .header-grid {
    grid-template-columns: 100px 1fr;
  }

  .logo-sm-white {
    margin-top: 5px;
    align-self: center;
    justify-self: start;
  }

  .top-links {
    justify-self: end;
  }

  .text-logo {
    display: none;
  }

  .car-model {
    font-size: 1.5em;
  }

  .car-sold {
    font-size: 35px;
  }
}